sounddevice
pyaudio
dynamixel_sdk
gTTS
pydub
numpy>=1.26.0,<2.0.0
librosa
moviepy==1.0.3
matplotlib
scipy
joblib
pillow
opencv-python
phonemizer
pygame
speechrecognition
openai==0.28
git+https://github.com/openai/whisper.git